.card {
    display: grid;
    grid-template-columns: min-content min-content 1fr;
    grid-template-rows: 1fr min-content;
    gap: 5px 16px;
    background-color: white;
    border-radius: 12px;
    padding: 10px 16px 8px;
}

.ava {
    grid-row: span 2;
}

.name {
    font-style: 16px;
    font-weight: 600;
}

.posContainer {
    grid-row: 1 / 3;
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 4px;
}

.posText {
    position: absolute;
    top: 30%;
    left: 50%;
    font-weight: 600;
    transform: translate(-55%, -40%);
    color: white;

    &.dark {
        color: black;
    }
}

.indicator {
    display: flex;
    gap: 8px;
    align-items: center;
}
.bloodContainer {
    display: flex;
    text-align: end;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;

    .counter {
        display: flex;
        height: 16px;
        width: 16px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    :global(.blood) {
        background-image: url(/blood.svg);
    }
    :global(.plasma) {
        background-image: url(/plasma.svg);
    }
    :global(.red_blood_cells) {
        background-image: url(/erit.svg);
    }
    :global(.granulocytes) {
        background-image: url(/gran.svg);
    }
    :global(.platelets) {
        background-image: url(/tromb.svg);
    }
}

@media screen and (max-width: 440px) {
    .posContainer {
        grid-row: span 1;
    }

    .ava {
        grid-row: span 1;
    }
    .bloodContainer {
        grid-column: 1 /-1;
    }
}
