.container {
    display: flex;
    flex-direction: column;
    gap: 28px;
    max-width: 400px;
    margin-inline: auto;
    align-items: center;
    width: 100%;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 100%;
}

.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.typeButton{
    display: flex;
    justify-content: start;
}
