.container {
    display: flex;
    flex-direction: column;
    gap: 28px;
    max-width: 400px;
    margin-inline: auto;
    align-items: center;
    width: 370px;
}

.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
