@import '@gravity-ui/uikit/styles/fonts.css';
@import '@gravity-ui/uikit/styles/styles.css';

.g-root {
    --g-color-base-background: #f6f7f8;
    --g-color-base-brand: #f73232;
    --g-color-base-brand-hover: #b52828;
    --g-color-line-brand: #f73232;
    --g-color-text-brand: #f73232;
    --g-color-text-brand-contrast: #fff;
    --g-color-base-selection: #ffb1b1;
}

body,
#root {
    width: 100%;
    margin: 0;
    height: 100vh;
}
